* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  display: flex;
  height: 90px;
  padding: 22px 30px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.gray {
  color: #918B9E;
}

.bold {
  font-weight: bold;
}

section {
  padding: 15px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 80vw;
  align-self: center;
}

.hero-header {
  margin-top: 45px;
  margin-bottom: 0px;
  font-size: 3rem;
}

.hero-text {
  margin-top: 5px;
  font-size: 1.5rem;
}

.cards-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  flex: 0 0 auto;
  width: 175px;
  position: relative;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 3px;
  background-color: rgb(63, 59, 59);
  color: rgb(253, 7, 7);
  border-radius: 8px;
  padding: 0 3px;
  font-weight: bold;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0;
}

.card-stats {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-stats > span {
  padding-right: 5px;
}

.star {
  height: 14px;
  padding-right: 4px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  margin-top: auto;
}